/* Para escritorio */
@media (min-width: 768px) {
  .content-paradas {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e6e6e6; /* Cambiado el color de fondo */
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */
}

.titulos-parada {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    margin-bottom: 20px;
    color: #4d4d4d; /* Cambiado el color del texto */
    font-size: 160%; /* Aumentado el tamaño de fuente */
    border-bottom: 2px solid #4d4d4d; /* Línea inferior */
    padding-bottom: 10px; /* Espaciado inferior */
    width: 80%; /* Ancho completo */
    box-sizing: border-box; /* Incluir bordes en el tamaño total */
}

.parada-buses {
    font-family: "Roboto", Arial, Helvetica, sans-serif; /* Cambiado el tipo de letra */
    font-style: italic;
    font-size: 24px; /* Aumentado el tamaño de fuente */
    color: #333333; /* Cambiado el color de texto */
    margin-top: 20px;
    border-collapse: collapse;
    width: 80%;
    transition: all 0.3s ease; /* Transición suave para todos los cambios */
}

.parada-buses th,
.parada-buses td {
    padding: 15px; /* Aumentado el espaciado interno */
    text-align: center;
    border: 1px solid #ddd;
}

.parada-buses thead {
    background-color: #cccccc; /* Cambiado el color de fondo del encabezado */
}

.parada-buses tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilos para la columna "Cooperativa" */
.parada-buses td:nth-child(2) {
    background-color: #ffffcc; /* Cambiado el color de fondo */
}

/* Estilos para la columna "Tiempo Estimado de llegada" */
.parada-buses td:nth-child(3) {
    background-color: #c2f0c2; /* Cambiado el color de fondo */
}

/* Estilos para la columna "Aprox. (min)" */
.parada-buses td:nth-child(4) {
    background-color: #ffb3b3; /* Cambiado el color de fondo */
}



.btn-parada {
display: none;
}


.footer-nombres{
  display: none;
  font-size: 13px;
  bottom:0;
  left:0;
  width:100%;
  opacity: 0.5;
}

}

/* Para teléfono móvil */
@media (max-width: 767px) {
  .content-paradas {
    background-color: #dce2f0c2;
    height: 100vh;
  }
  .titulos-parada,
  .parada-buses {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .parada-buses {
    font-family: "Times New Roman", Times, serif;
    padding: 10px;
    font-style: italic;
    caption-side: bottom;
    color: #000000;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .parada-buses thead th{
    border-bottom: solid 2px black;

  }

  .reloj{
    font-size: 30px;
  }

  .parada-buses th,
.parada-buses td {
    padding: 5px; /* Aumentado el espaciado interno */
    text-align: center;
    border: 1px solid #ddd;
}

.parada-buses thead {
    background-color: #cccccc; /* Cambiado el color de fondo del encabezado */
}

.parada-buses tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilos para la columna "Cooperativa" */
.parada-buses td:nth-child(2) {
    background-color: #ffffcc; /* Cambiado el color de fondo */
}

/* Estilos para la columna "Tiempo Estimado de llegada" */
.parada-buses td:nth-child(3) {
    background-color: #c2f0c2; /* Cambiado el color de fondo */
}

/* Estilos para la columna "Aprox. (min)" */
.parada-buses td:nth-child(4) {
    background-color: #ffb3b3; /* Cambiado el color de fondo */
}


  .btn-parada {
    justify-content: center;
    position: relative;
    top: 10px;
    left: 10px;
  }

  .boton-parada {
    padding: 10px 10px;
    border: none;
    border-radius: 50%;
    background-color: #333333;
  }

  .boton-parada img{
    width: 30px;
  }


  .footer-nombres{
    text-align: center;
    font-size: 10px;
    bottom:0;
    left:0;
    width:100%;
    opacity: 0.5;
  }

}
